body{
    background-image: url("another.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color:black;
    font-weight: bold;
    text-align: center;
    font-size:xx-large ;
    
}
img{
    border-width: 5cm;
    width: 500;
    height: 500;
}